.spacing {
    padding-top: 32px;
}

input[type=checkbox].role-check {
    margin-right: 8px;
}

.filter-flex {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    line-height: 30px;
}

.filter-flex > * {
    flex: 1;
    margin-left: 8px;
}

.row-tiny-gutters {
    margin-left: -4px;
    margin-right: -4px;
}

.row-tiny-gutters [class*=col-] {
    padding-left: 4px;
    padding-right: 4px;
}
