ol {
    padding-left: 0px;
}

.one-line {
    display: flex;
    justify-content: space-between;  
    margin-bottom: 11px
}

.one-line>input {
    margin-top: 11px;
    margin-right: 11px
}


li>label {
    display: initial;
    margin-left: 11px;
    font-weight: initial;
}

.striped:nth-child(2n) {
    background: #f0f0f0;
}

.invalid {
    background: #FFB3B3;
}

.invalid.striped:nth-child(2n) {
    background: #F1A8A8;
}

.dropdown-menu {
    z-index: 2000;
}