/*
The default size is far too small
This code is a slightly modified version by localjo
https://github.com/Hacker0x01/react-datepicker/issues/624#issuecomment-261696513
*/

.react-datepicker {
  font-size: 1em !important;
}
  
.react-datepicker__current-month {
  font-size: 1em !important;
}
  
.react-datepicker__header {
  padding-top: 6px !important;
}
  
.react-datepicker__navigation {
  top: 13px !important;
}
  
.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5em !important;
  width: 1.5em !important;
  line-height: 1.5em !important;
}