input[type=checkbox].dropdown_checkbox_padding {
    margin-right: 6px;
}

:not(li).dropdown {
    width:100%;
}

.no_overflow {
    overflow: hidden;
}

.caret {
    position: relative;
    bottom: 10px;
}